In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101) #randoms is constants

In [25]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [10]:
df.W #don't use this way

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [26]:
df['W + Y'] = df['W'] + df['Y']

In [27]:
df['W + Y']

A   -1.403420
B    0.032064
C    1.446493
D   -1.440510
E    0.121354
Name: W + Y, dtype: float64

In [28]:
df

          W         X         Y         Z     W + Y
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [30]:
df.drop('X',axis = 1)

In [ ]:
df.drop('X',axis = 1,inplace=True)

In [31]:
df

          W         Y         Z     W + Y
A  0.302665 -1.706086 -1.159119 -1.403420
B -0.134841  0.166905  0.184502  0.032064
C  0.807706  0.638787  0.329646  1.446493
D -0.497104 -0.943406  0.484752 -1.440510
E -0.116773  0.238127  1.996652  0.121354

In [34]:
df.drop('E',axis = 0)

          W         Y         Z     W + Y
A  0.302665 -1.706086 -1.159119 -1.403420
B -0.134841  0.166905  0.184502  0.032064
C  0.807706  0.638787  0.329646  1.446493
D -0.497104 -0.943406  0.484752 -1.440510